
	 <div id="header">
	  <div class="width">
	   <div class="padding">
		 <h1><a href="#"></a></h1>
		 <div id="navigation">
		  <!--<ul>
		   <li>
		    <a class="section" href="#browse">Browse</a>
		    <ul>
		     <li><a class="choice" href="#">Buildings</a></li>
		     <li><a class="choice" href="#">Images</a></li>
		    </ul>
		   </li>
		   <li>
		    <a class="section" href="#about">About</a>
		   </li>
		  </ul>-->
		 </div>
		 <div id="searchbox">
		  <form method="get" action="#">
		   <input type="text" id="searcher" name="search" value="Search"/>
		  </form>
		 </div>
		</div>
	  </div>
	 </div> <!-- end of the header -->