	

					
	<table width="100%" border="0" cellspacing="0">

		<tr class="columns">
		
		
			<td valign="top" width="180px" class="leftColumn">
					
					
					
					<!-- GALLERY -->
					<div class="related-items entity-Image relationship-gallery view-LabelledList_View ">
						<div class="list-label open">
							Gallery <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"  style="height:400;"></ul>
					</div>
					
					
					<!-- ALL PANOS -->
					<div class="related-items entity-Image relationship-panorama view-LabelledList_View ">
						<div class="list-label">
							All Panoramas <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					
					<!-- ALL IMAGES -->
					<div class="related-items entity-Image relationship-depiction view-LabelledList_View ">
						<div class="list-label">
							All Images <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View" style="height:600;"></ul>
					</div>
					
					<!-- MAIN PLAN -->
					<div class="related-items entity-Image relationship-mainplan view-LabelledList_View ">
						<div class="list-label">
							Plan <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
			</td>
	
				
			<td valign="top" class="center-column">
				<h1>${name}</h1>
				
				
				
				

					
		<table>
		<tr>
		<td valign="top">

	
	
				<div class="poster-view fieldname-poster_id"></div>					
							
			
				<div class="poster-view fieldname-plan_image_id"></div>
			
			
				<div class="poster-view fieldname-lat_section_image_id"></div>
			
			
				<div class="poster-view fieldname-long_section_image_id"></div>
			
			
				
		
		</td>
		<td valign="top" style="padding-left: 20;">
		
				
				<div class="descript">
					
					<div class="textarea fieldname-descript">
						${descript}
					</div>
				</div>
				<div class="descript">
					<h5>PLAN</h5>
					<div class="textarea fieldname-plan">
						${plan}
					</div>
				</div>
				<div class="descript">
					<h5>ELEVATION</h5>
					<div class="textarea fieldname-elevation">
						${elevation}
					</div>
				</div>
				<div class="descript">
					<h5>HISTORY</h5>
					<div class="textarea fieldname-history">
						${history}
					</div>
				</div>
				<div class="descript">
					<h5>CHRONOLOGY</h5>
					<div class="textarea fieldname-chronology">
						${chronology}
					</div>
				</div>
				<div class="descript">
					<h5>SCULPTURAL PROGRAM</h5>
					<div class="textarea fieldname-sculpture">
						${sculpture}
					</div>
				</div>
				<div class="descript">
					<h5>SIGNIFICANCE</h5>
					<div class="textarea fieldname-significance">
						${significance}
					</div>
				</div>
				
		</td>
		
		</tr>
		
		
		</table>
		
				
					<!-- UNITY -->
					<!--
					<div id="unityPlayer_{model.id}">
						<div class="missing">
							<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
								<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="400" height="300" />
							</a>
						</div>
					</div>
					-->
				
				
				<!-- NOTES -->
				<div class="related-items entity-NoteCard view-LabelledList_View ">
					<div>
					<span class="list-label">
						Notes  <span class="paran">(<span class="count"></span>)</span>
					</span>
					</div>
					<ul  class="related-items-listview view-LabelledList_View"></ul>
				</div>
			
				<!-- PUBLICATIONS -->
				<div class="related-items entity-Publication view-LabelledList_View">
					<div>
					<span class="list-label">
						Bibliography  <span class="paran">(<span class="count"></span>)</span>
					</span>
					</div>
					<ul  class="related-items-listview view-LabelledList_View"></ul>
				</div>
			</td>
			
			
			<!-- LEFT COLUMN -->
			<td valign="top" width="250px" class="rightColumn">
					
				<div style="border-left: solid 2 gray; height:100%;">					
					<!-- MAP -->
					<div class="map-view">
						<div class="map-viewport closeup"></div>
						<div >
							<button type="button" class="mapButton" style="font-size: 9;">Enlarge Map</button>
							<button type="button" class="setBoundsButton" style="font-size: 9;">Set as Map Bounds</button>
							
						</div>
					</div>
					
					<div class="map-view">
						<div class="map-viewport"></div>
						<div >
							<button type="button" class="mapButton" style="font-size: 9;">Enlarge Map</button>
							<button type="button" class="setBoundsButton" style="font-size: 9;">Set as Map Bounds</button>
							
						</div>
					</div>

	
					<!-- MAP IMAGES -->
					<div class="related-items entity-Image relationship-map view-LabelledList_View">
						<div class="list-label">Maps <span class="paran">(<span class="count"></span>)</span> </div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
				</div>	
				
				
							
				<!-- ESSAYS -->
				<div class="related-items entity-Essay view-LabelledList_View">
					<div>
					<span class="list-label open">
						Essay  <span class="paran">(<span class="count"></span>)</span>
					</span>
					</div>
					<ul  class="related-items-listview view-LabelledList_View"></ul>
				</div>

			</td>
			
		
		</tr>
	
	</table>
	${id}
	
	