<style>
   #wrapper { position: relative; width: 300; height:300;}
   #over_map { position: absolute; bottom:60px; 0px; left: 0px; z-index: 99; background-color: white; width: 40px; height: 40px; }
</style>

<div id="wrapper">
   <div id="google_map">
				<div class="map-view" >
					<div class="map-viewport"></div>
				</div>

   </div>

   <div id="over_map">
fdsfds
   </div>
</div>	



<table style="width: 100%" border="1">
	<tr>
		<!-- collection header -->
		<td valign="top">
			Some Collection Title
		</td>
		
		<td>
		<!-- collection map -->
			<div id="wrapper">
			   <div id="google_map">
							<div class="map-view" >
								<div class="map-viewport"></div>
							</div>
			
			   </div>
			
			   <div id="over_map">
			X
			   </div>
			</div>	
		</td>
	</tr>
	
	
	<tr>
		<!-- building profile -->
		<td>
		St Church
		<hr>
		fdsuiafhdusioa fhudios ahfuid oahsufoi dhusaioh duaio
		</td>
	
	
		<!-- collection list -->
		<td>
		
		</td>
	
	</tr>
	
</table>
	