	
						
					
	<table width="100%" border="0" cellspacing="0" style="margin:0;padding:0;">

		<tr class="columns">
		
		
			<td valign="top" width="220px" class="leftColumn">
					<div class="inputfield fieldname-name">${name}</div>


					<!-- Essays -->
					<div class="related-items entity-Essay relationship-child view-LabelledList_View ">
						<span class="list-label open">
							Sub Essays <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview" style="height:100;"></ul>
					</div>
					
					<!-- GALLERY -->
					<div class="related-items entity-Image relationship-gallery view-LabelledList_View ">
						<div class="list-label open">
							Gallery <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					
					<!-- FIGURES (SOURCE) -->
					<div class="related-items entity-Image relationship-source view-LabelledList_View ">
						<div class="list-label">
							Figures <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
			</td>
	
				
			<td valign="top" class="centerColumn">
				
				<div class="notesColumn" >
					
					<!-- MAP -->
					<div class="map-view">
						<div class="map-viewport"></div>
						<div>
							<button type="button" class="setBoundsButton">Set as Map Bounds</button>
						</div>
					</div>
	
					<!-- MAP IMAGES -->
					<div class="related-items entity-Image relationship-map view-LabelledList_View">
						<span class="list-label">Maps <span class="paran">(<span class="count"></span>)</span> </span>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>

					<!-- NOTES -->
					<div class="related-items entity-NoteCard view-LabelledList_View ">
						<span class="list-label">
							Notes  <span class="paran">(<span class="count"></span>)</span> 
						</span>
						
						<ul  class="related-items-listview view-LabelledList_View"></ul>
						
					</div>
				
					<!-- PUBLICATIONS -->
					<div class="related-items entity-Publication view-LabelledList_View">
						<span class="list-label open">
							Bibliography  <span class="paran">(<span class="count"></span>)</span>
						</span>
						
						<ul  class="related-items-listview view-LabelledList_View"></ul>
					</div>
				
				
					<!-- PEOPLE -->
					<div class="related-items entity-Person view-LabelledList_View ">
						<span class="list-label open">
							Notes  <span class="paran">(<span class="count"></span>)</span> 
						</span>
						
						<ul  class="related-items-listview view-LabelledList_View"></ul>
						
					</div>
					
				
				
				
				</div>
				
			</td>
			
			<td valign="top" width="450px" class="rightColumn">
					
				<div style="margin-left: 15;">
					
					<!-- BUILDINGS -->
					<div class="related-items entity-Building  view-LabelledList_View">
						<span class="list-label open">Buildings <span class="paran">(<span class="count"></span>)</span></span>
						<ul class="related-items-listview" style="height:800;"></ul>
					</div>
					
				</div>

			</td>
			
		
		</tr>
	
	</table>
	${id}
	
	