					
					
	<table width="95%" border="0" cellspacing="10" class="profile-body">

		<tr class="columns">
		
		
			<td valign="top"  class="leftColumn">
					<div class="related-items entity-Image relationship-depiction view-LabelledList_View ">
						<span class="list-label open">
							Depictions <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"   style="height:170;"></ul>
					</div>
					<div class="related-items entity-Image relationship-gallery view-LabelledList_View ">
						<span class="list-label">
							Favorites Gallery <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					<div class="related-items entity-Image relationship-uploaded view-LabelledList_View ">
						<span class="list-label">
							Images Uploaded <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					
					<div class="related-items entity-Essay relationship-current view-LabelledList_View ">
						<span class="list-label open">
							Essays Current <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview view-LabelledList_View"  style="max-height: 100;"></ul>
					</div>
					
					<div class="related-items entity-Essay relationship-author view-LabelledList_View ">
						<span class="list-label open">
							Essays Authored <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview view-LabelledList_View"></ul>
					</div>
			</td>
			
				
			
			<td valign="top" width="325px" class="rightColumn">
						<h3>${name}</h3>
						
						<div class="fieldname-descript vbox" style="font-size: 12;width:100%">	
							${descript}  
						</div>
						
					
			</td>
			
		
		</tr>
	
	</table>
	${id}
	
	