	

					
					
	<table width="95%" border="0" cellspacing="10">

		<tr class="columns">
		
		
			<td valign="top" width="180px" class="leftColumn">
					
					<!-- CHAPTERS -->
					<div class="related-items entity-Publication subtype-BookSection relationship-child view-LabelledList_View ">
						<span class="list-label closed">
							Chapters <span class="paran">(<span class="count"></span>)</span>
						</span>
						<ul  class="related-items-listview"></ul>
					</div>
					
					<!-- GALLERY -->
					<div class="related-items entity-Image relationship-gallery view-LabelledList_View ">
						<div class="list-label">
							Gallery <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					
					<!-- FIGURES (SOURCE) -->
					<div class="related-items entity-Image relationship-source view-LabelledList_View ">
						<div class="list-label">
							Figures <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
			</td>
	
				
			<td valign="top" class="centerColumn">
					<h3>${name}</h3>
					
		
					<h4>${date}, ${contributors}</h4>
					<div style="font-size:12">${publisher}, ${location}</div>
				
					<!-- NOTES -->
					<div class="related-items entity-NoteCard view-LabelledList_View ">
						<span class="list-label open">
							Notes  <span class="paran">(<span class="count"></span>)</span> 
						</span>
						<ul  class="related-items-listview view-LabelledList_View"></ul>
						
					</div>
				
					<!-- ESSAYS -->
					<div class="related-items entity-Essay view-LabelledList_View ">
						<span class="list-label open">
							Essays Citing This  <span class="paran">(<span class="count"></span>)</span> 
						</span>
						<ul  class="related-items-listview view-LabelledList_View"></ul>
						
					</div>
			</td>
			
			<td valign="top" width="250px" class="rightColumn">
					
					<button type="button" class="mapButton">Map</button>
					
					<!-- MAP -->
					<div class="map-view">
						<div class="map-viewport"></div>
						<div>
							<button type="button" class="setBoundsButton">Set as Map Bounds</button>
						</div>
					</div>
	
					<!-- MAP IMAGES -->
					<div class="related-items entity-Image relationship-map view-LabelledList_View">
						<div class="list-label">Maps <span class="paran">(<span class="count"></span>)</span> </div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					
					<!-- BUILDINGS -->
					<div class="related-items entity-Building  view-LabelledList_View">
						<span class="list-label open">Buildings <span class="paran">(<span class="count"></span>)</span></span>
						<ul class="related-items-listview"></ul>
					</div>

			</td>
			
		
		</tr>
	
	</table>
	${id}
	
	