	<h3>${name}</h3>

	<button type="button" class="mapButton">Map</button>
					
					
	<table width="95%" border="0" cellspacing="10">

		<tr class="columns">
		
		
			<td valign="top" width="180px" class="leftColumn">
					<div class="related-items entity-Image relationship-gallery view-LabelledList_View ">
						<div class="list-label open">
							Gallery <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					<div class="related-items entity-Image relationship-source view-LabelledList_View ">
						<div class="list-label">
							All Images <span class="paran">(<span class="count"></span>)</span>
						</div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
			</td>
			
				
			<td valign="top" class="centerColumn">
				
				<div class="notesColumn">
					NOTES
				</div>
				
			</td>
			
			<td valign="top" width="250px" class="rightColumn">
					
					<div class="map-view">
						<div class="map-viewport"></div>
						<div>
							<button type="button" class="setBoundsButton">Set as Map Bounds</button>
						</div>
					</div>
	
					<div class="related-items entity-Image relationship-map view-LabelledList_View">
						<div class="list-label">Maps <span class="paran">(<span class="count"></span>)</span> </div>
						<ul  class="related-items-listview layout-float item_view-ImageSlide_View"></ul>
					</div>
					<div class="related-items entity-Building  view-LabelledList_View">
						<div class="list-label open">Buildings <span class="paran">(<span class="count"></span>)</span></div>
						<ul class="related-items-listview"></ul>
					</div>

			</td>
			
		
		</tr>
	
	</table>
	${id}
	
	